# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv/
.env

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Chrome Extension
*.pem
*.crx
node_modules/

# Logs
*.log
logs/

#agent_history.gif
Python_server/agent_history.gif
agent_history.gif
*agent_history.gif